name: Build

on: push

jobs:
  mysql:
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"

    services:
      mariadb:
        image: mariadb
        env:
          MARIADB_ROOT_PASSWORD: django_safemigrate
        options: >-
          --health-cmd "mariadb-admin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
        - 3306:3306

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv pip install tox-uv tox-gh-actions coverage[toml]
      - name: Run tox
        env:
          DB: mysql
          DATABASE_URL: "mysql://root:django_safemigrate@127.0.0.1/django_safemigrate"
        run: tox
      - name: Prepare coverage file
        run: |
          coverage combine
          mv .coverage .coverage.sqlite.py${{ matrix.python-version }}
      - name: Save coverage file
        uses: actions/upload-artifact@v4
        with:
          name: .coverage.mysql.py${{ matrix.python-version }}
          path: .coverage.mysql.py${{ matrix.python-version }}
          include-hidden-files: true


  postgres:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        database: [pg2]
        # Add psycopg3 to our matrix for modern python versions
        include:
            - python-version: '3.10'
              database: pg3
            - python-version: '3.11'
              database: pg3
            - python-version: '3.12'
              database: pg3
            - python-version: '3.13'
              database: pg3

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: django_safemigrate
          POSTGRES_USER: django_safemigrate
          POSTGRES_PASSWORD: django_safemigrate
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv pip install tox-uv tox-gh-actions coverage[toml]
      - name: Run tox
        env:
          DB: ${{ matrix.database }}
          DATABASE_URL: "postgresql://django_safemigrate:django_safemigrate@localhost/django_safemigrate"
        run: tox
      - name: Prepare coverage file
        run: |
          coverage combine
          mv .coverage .coverage.${{ matrix.database }}.py${{ matrix.python-version }}
      - name: Save coverage file
        uses: actions/upload-artifact@v4
        with:
          name: .coverage.${{ matrix.database }}.py${{ matrix.python-version }}
          path: .coverage.${{ matrix.database }}.py${{ matrix.python-version }}
          include-hidden-files: true


  sqlite:
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv pip install tox-uv tox-gh-actions coverage[toml]

      - name: Run tox
        env:
          DB: sqlite
          DATABASE_URL: "sqlite:///:memory:"
        run: tox
      - name: Prepare coverage file
        run: |
          coverage combine
          mv .coverage .coverage.sqlite.py${{ matrix.python-version }}
      - name: Save coverage file
        uses: actions/upload-artifact@v4
        with:
          name: .coverage.sqlite.py${{ matrix.python-version }}
          path: .coverage.sqlite.py${{ matrix.python-version }}
          include-hidden-files: true

  codecov:
    needs: [mysql, postgres, sqlite]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.13
      - uses: actions/download-artifact@v4
        with:
          pattern: .coverage.*
          merge-multiple: true
      - run: uv pip install coverage[toml]
      - run: coverage combine
      - run: coverage xml
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
