name: Build

on: push

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        database: [sqlite, mysql, pg2, pg3]

    services:
      mariadb:
        # image: ${{ (matrix.database == 'mysql') && 'mariadb' || '' }}
        image: mariadb
        env:
          MARIADB_ROOT_PASSWORD: django_safemigrate
        options: >-
          --health-cmd "mariadb-admin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
        - 3306:3306
      postgres:
        # image: ${{ (matrix.database == 'pg2' || matrix.database == 'pg3') && 'postgres' || '' }}
        image: postgres
        env:
          POSTGRES_DB: django_safemigrate
          POSTGRES_USER: django_safemigrate
          POSTGRES_PASSWORD: django_safemigrate
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv pip install tox-uv tox-gh-actions coverage[toml]
      - name: Determine DATABASE_URL
        id: database_url
        run: |
          if [ "${{ matrix.database }}" = "sqlite" ]; then
            DATABASE_URL="sqlite:///:memory:"
          elif [ "${{ matrix.database }}" = "mysql" ]; then
            DATABASE_URL="mysql://root:django_safemigrate@127.0.0.1/django_safemigrate"
          elif [ "${{ matrix.database }}" = "pg2" ] || [ "${{ matrix.database }}" = "pg3" ]; then
            DATABASE_URL="postgresql://django_safemigrate:django_safemigrate@localhost/django_safemigrate"
          fi
          echo "DATABASE_URL=$DATABASE_URL" >> $GITHUB_OUTPUT
      - name: Run tox
        env:
          DB: ${{ matrix.database }}
          DATABASE_URL: ${{ steps.database_url.outputs.DATABASE_URL }}
        run: tox
      - name: Prepare coverage file
        run: |
          coverage combine
          mv .coverage .coverage.${{ matrix.database }}.py${{ matrix.python-version }}
      - name: Save coverage file
        uses: actions/upload-artifact@v4
        with:
          name: .coverage.${{ matrix.database }}.py${{ matrix.python-version }}
          path: .coverage.${{ matrix.database }}.py${{ matrix.python-version }}
          include-hidden-files: true

  codecov:
    needs: pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.13
      - uses: actions/download-artifact@v4
        with:
          pattern: .coverage.*
          merge-multiple: true
      - run: uv pip install coverage[toml]
      - run: coverage combine
      - run: coverage xml
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
